@import url(_reset.css);
@import url(_variaveis.css);

body {
    font-family: var(--familia);
    font-size: var(--tamanho-corpo);
    text-align: left;
    color: var(--cinza);
    line-height: 1rem;

    background-color: var(--fundo-principal);
    overflow-x: hidden;
}

header {
    background-color: var(--branco);
    position: fixed;
}

.container {
    width: 100vw; /*talvez trocar e colocar no body e header*/

    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;

    padding-right: 1rem;
    padding-left: 1rem;
}

.caixa { padding-top: 2rem; }

.titulo {
    font-size: var(--tamanho-titulo);
    color: var(--primaria1);
    
    line-height: 2.4rem;

    display: block;

    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.titulo--pequeno {
    font-size: var(--tamanho-corpo);
    font-weight: var(--peso-titulob);

    line-height: 1.4rem;

    display: block;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.titulo--caixa {
    color: var(--verde);

    padding-bottom: .5rem;
}

.texto {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.texto--alto { text-transform: uppercase; }

footer {
    font-size: var(--tamanho-corpo-rodape);
    text-align: justify;
    background-color: var(--fundo-secundario);
    
    line-height: 1rem;
    
    padding-top: 5rem;
}

@media screen and (min-width: 1024px) {
    header, .container, footer{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .caixa {
        max-width: 40vw;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    header, .container, footer {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}