@import url(componentes/_destaque.css);
@import url(componentes/_vem-de-prozza.css);
@import url(componentes/_personalizacao.css);
@import url(componentes/_integracao.css);

/* como o prozza pode te ajudar? */
.como-ajudar {
    text-align: center;
    background-color: var(--branco);

    padding-top: 3rem;
    padding-bottom: 4rem;
}

/* barra verde */
.barra {
    display: block;
    color: var(--branco);
    background-color: var(--secundaria1);
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.campanhas { padding-bottom: 2rem; }
.campanhas__img { max-width: 37.5rem; }

@media screen and (min-width: 768px) {
    .como-ajudar__detalhes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
    }

    /* organização do grid de campanhas */
    .campanhas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "campanha--integracao-img campanha--integracao"
        "campanha--planejamento campanha--planejamento-img"
        "campanha--criacao-img campanha--criacao"
        "campanha--botao campanha--botao"
        ;
        column-gap: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .campanha--integracao-img { grid-area: campanha--integracao-img; }
    .campanha--integracao { grid-area: campanha--integracao; }

    .campanha--planejamento-img { grid-area: campanha--planejamento-img; }
    .campanha--planejamento { grid-area: campanha--planejamento; }

    .campanha--criacao-img { grid-area: campanha--criacao-img; }
    .campanha--criacao { grid-area: campanha--criacao; }

    .campanha--botao {
        grid-area: campanha--botao;
        justify-self: center;
    }
}

/*sessão de clientes*/
.clientes {
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 4rem;
}

.clientes__declaracao h4 {
    color: var(--verde);
    font-size: 1.2rem;
    font-weight: var(--peso-titulob);
}

.clientes p { max-width: 280px; }

.clientes--cargo {
    font-size: .7rem;
    color: var(--primaria1);
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .clientes__declaracao {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .clientes__declaracao { gap: 4rem; }
}