.destaque {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .destaque {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "destaque__conteudo destaque__img"
        ;
    }

    .destaque__img { grid-area: destaque__img; }
    .destaque__conteudo { grid-area: destaque__conteudo; }
}