.integracao {
    text-align: center;
    background-color: var(--branco);

    padding-top: 2rem;
    padding-bottom: 4rem;
}

.integracao p {
    text-align: justify;
}

.integracao--imgs {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .integracao--imgs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 1rem;
        align-self: center;
        justify-content: space-evenly;
    }
}