.integracao {
    text-align: center;
    background-color: var(--branco);

    padding-top: 2rem;
    padding-bottom: 4rem;
}

.integracao p { text-align: justify; }

.integracao__imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .integracao__imgs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 1rem;
        align-self: center;
        justify-content: space-evenly;
    }
}