.personalizacao {
    color: var(--branco);
    background-color: var(--primaria1);
}

.personalizacao h5 {
    color: var(--branco);
    font-size: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.personalizacao__imagem {
    width: 100%;
    position: relative;
    bottom: -3.375rem;
}

@media screen and (min-width: 768px) {
    .personalizacao {
        display: grid;
        grid-template-areas:
        "personalizacao__conteudo personalizacao__imagem"
        ;
        gap: 16px;
    }
    .personalizacao__conteudo { grid-area: personalizacao__conteudo; }
    .personalizacao__imagem { grid-area: personalizacao__imagem; }
}

.personalizacao2 {
    text-align: justify;

    padding-top: 2rem;
    padding-bottom: 2rem;
}