.cabecalho {
    color: var(--preto);
    font-size: var(--tamanho-corpo);

    background-color: var(--branco);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.cabecalho__logo {
    height: 4rem;
    order: 1;
}

.menu {
    background-color: var(--branco);
    order: 3;
}

.toggle {
    order: 2;
    float: right;
    padding: 1rem;
    font-size: 1rem;
}

.menu__conteudo {
	float: right;
}

[id=drop]:checked ~ .menu__conteudo {
    display: block;
}

.menu__conteudo--link {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #222;
	font-size: .8rem;
    /*width: 150px;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.toggle + .menu__conteudo--link,
.menu__conteudo {
	display: none;
}

.menu__conteudo--desktop {
    display: none;
}

input[type="checkbox"] {
    visibility: hidden;
}

@media all and (min-width: 1024px) {
    .menu {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
    }
    .menu__conteudo {
        display: inline-block;
    }

    .menu__conteudo--link {
        display: inline-block;
        background-color: #fff;
        box-shadow: none;
        align-content: center;
        width: auto;
        padding-right: 1rem;
    }

    /*display do menu*/
    .toggle,
    [id=drop] {
        display: none;
    }

    .menu__conteudo--desktop {
        display: inline-block;
    }
}