.destaque {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
    .destaque {
        display: grid;
        grid-template-areas: 
        "destaque__conteudo destaque__imagem"
        ;
        gap: 16px;
    }

    .destaque__imagem {
        grid-area: destaque__imagem;
    }

    .destaque__conteudo {
        grid-area: destaque__conteudo;
        text-align: left;

        padding-right: 2rem;
    }
}