.imagem { width: 100%; }

/*Imagem logo das ferramentas de integração*/
.imagem__logo {
    display: block;
    max-width: 350px;
    height: 3.5rem;
    padding: 1rem 0.75rem;

    box-sizing: border-box;
}

.imagem__logo--menor { height: 3rem; }

.imagem__logo--ultima {
    height: 3rem;
    grid-column: span 2;
}

/* Perfil do cliente */
.imagem__perfil {
    width: 150px;
    height: 150px;
    border: 3px solid var(--primaria1);
    border-radius: 100px;
}

@media screen and (min-width: 1024px) {
    .imagem__logo { height: 4rem; }
    .imagem__logo--menor { height: 3.5rem; }
    .imagem__logo--ultima {
        height: 3.5rem;
        grid-column: span 4;
    }
}