.imagem { width: 100%; }

/*Imagem logo das ferramentas de integração*/
.imagem__logo {
    display: block;
    max-width: 350px;
    height: 4rem;
    padding: 1rem 0.75rem;

    box-sizing: border-box;
}
.imagem__logo--2 { height: 3rem; }

/* Perfil do cliente */
.imagem__perfil {/*
    width: 12.75rem;
    height: 12.75rem;*/
    width: 150px;
    height: 150px;
    border: 3px solid var(--primaria1);
    border-radius: 100px;
}