.rodape {
    padding-left: 2rem;
    padding-right: 2rem;
}

.titulo--rodape {
    color: var(--preto);
    font-size: var(--tamanho-titulo-rodape);

    padding-bottom: 0;
}

.midias-sociais {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

.rodape__nav {
    width: 100vw;
    align-items: flex-start;

    display: flex;
    justify-content: space-evenly;

    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.titulo--nav {
    font-size: 1.2rem;
    color: var(--preto);

    line-height: 2rem;
    display: inline;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rodape__escuro {
    width: 100vw;
    background-color: var(--preto);
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.texto--copy {
    color: var(--branco);
    text-align: center;
    
    line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
    .rodape__principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "rodape__conteudo rodape__nav"
        ;
        column-gap: 1rem;
        align-items: center;
        padding-bottom: 4rem;
    }

    .rodape__conteudo {
        grid-area: rodape__conteudo;
        align-self: center;
    }

    .rodape__nav {
        grid-area: rodape__nav;
        width: auto;
    }
}