.rodape {
    padding-bottom: 0;
}

.medias-sociais {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

.rodape__nav {
    width: 100vw;

    display: flex;
    justify-content: space-around;
    
    grid-auto-columns: 1fr 1fr;
    gap: 0;

    padding-bottom: 2rem;

    box-sizing: border-box;
}

.rodape__escuro {
    width: 100vw;
    background-color: var(--preto);

    padding-top: 1rem;
}

.titulo__nav {
    font-size: 1.2rem;
    color: var(--preto);

    display: inline;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.titulo--rodape {
    font-size: 1.5rem;
    font-weight: var(--peso-titulob);
}